EXPO_PUBLIC_SUPABASE_URL=https://zqaxzgcvnmglvliyyrsp.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpxYXh6Z2N2bm1nbHZsaXl5cnNwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEwMTcyNTcsImV4cCI6MjA5NjU5MzI1N30.zsm8VjMW-1U2IScE3mXgpTn837NdQ0fEO7uZrzU46fU
EXPO_PUBLIC_API_URL=http://localhost:3000
